test/
input/
output/
backup/
submit/
reference/
condorJob/
EnergyEnergyCorrelators/
src/*
!src/SCorrelatorJetTree.h
!src/SCorrelatorJetTree.cc
!src/SCorrelatorJetTree.io.h
!src/SCorrelatorJetTree.jet.h
!src/SCorrelatorJetTree.sys.h
!src/SCorrelatorJetTreeLinkDef.h
!src/SCorrelatorJetTree.cst.h
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
