test/
input/
output/
backup/
reference/
EnergyEnergyCorrelators/
src/*
!src/SCorrelatorJetTree.h
!src/SCorrelatorJetTree.cc
!src/SCorrelatorJetTree.io.h
!src/SCorrelatorJetTreeLinkDef.h
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
